.centering-contact {
    padding: 17%;
}


.email {
    color: rgb(141, 234, 255);
    text-decoration: none;
    font-style: inherit;

}

.linkedin {
    color: rgb(141, 234, 255);
    text-decoration: none;
    font-style: inherit;

}

