.App {
    text-align: center;
}

Footer {
    position: fixed;
}


.App-header {
    background-color: #2a2b2e !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white !important;
}

.App-link {
    color: #61dafb;
}


